<?xml version="1.0" encoding="utf-8"?><routes><route team="Metzli" cost="0.0" cities="2"><city id="3" name="Mixco Vieio"></city><city id="1" name="Tikal"></city><route team="Metzli" cost="0.0" cities="2"><city id="3" name="Mixco Vieio"></city><city id="1" name="Tikal"></city></route></route></routes>